@model Prueba2.Models.Cl_Tareas


@{
    ViewData["Title"] = Model != null? "Edit":"Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center> 
<div class="card-header">
    
       
        <h1 class="display-6">Nueva Tarea</h1>

</div>
</center>
<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-2">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" class="form-control form-control-sm" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Colaborador" class="form-label"></label>
                <select asp-for="Colaborador" asp-items="@(new SelectList(@ViewBag.ListofCategory,"Id","Nombre"))" class="form-control" aria-label="Default select example">
                    
                   

                </select>


               
                <span asp-validation-for="Colaborador" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Estado" class="form-label"></label>
                <select asp-for="Estado" class="form-control" aria-label="Default select example">
                    
                         <option selected>Seleccione un Estado</option>
                         <option value="Pendiente">Pendiente</option>
                         <option value="En Proceso">En Proceso</option>
                         <option value="Finalizada">Finalizada</option>
                    
                    </select>
                
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Prioridad" class="form-label"></label>
                <select asp-for="Prioridad" class="form-control" aria-label="Default select example">
                    <option selected>Seleccione un Estado</option>
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="Baja">Baja</option>
                </select>
                
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="FechaInicio" class="form-label"></label>
                <input type="datetime-local" asp-for="FechaInicio" class="form-control form-control-sm" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="form-label"></label>
                <input type="datetime-local" asp-for="FechaFin" class="form-control form-control-sm" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Notas" class="form-label"></label>
                <input asp-for="Notas" class="form-control form-control-sm" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>

            <center>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            </center>
        </form>
    </div>
</div>

<br/>


<div>
    <a asp-action="Index" class="btn btn-warning btn-sm" style="marginleft=2px" >Back to List</a>
</div>

